# Source files
src/

# Config files
.eslintignore
.eslintrc.js
.prettierrc.js
.prettierignore

# Tests
__tests__/
src/**/*.test.ts
src/**/*.test.tsx
vitest.config.ts
vitest.setup.ts
coverage/

# Storybook
.storybook/
stories/
storybook-static/

# Other
.DS_Store
*.log

# Git
.git/
.gitignore
.env

# Other 