@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sidebar-header a[title] img {
  height: 47px;
  width: auto;
}

[data-story-block] > [data-name] {
  padding: 24px;
}

.docs-story {
  color: #eee;
}